/*
 * Your Stylesheet
 *
 * This stylesheet is loaded when Atom starts up and is reloaded automatically
 * when it is changed and saved.
 *
 * Add your own CSS or Less to fully customize Atom.
 * If you are unfamiliar with Less, you can read more about it here:
 * http://lesscss.org
 */

/*
 * Examples
 * (To see them, uncomment and save)
 */

// style the background color of the tree view
.tree-view {
  // background-color: whitesmoke;
}

// style the background and foreground colors on the atom-text-editor-element itself
atom-text-editor {
  // color: white;
  // background-color: hsl(180, 24%, 12%);

  .line-number {
    opacity: 0.25;
  }
}

// style UI elements inside atom-text-editor
atom-text-editor.vim-mode-plus.normal-mode.editor {
  .cursor {
    background: #FF0080 !important;
    opacity: 1;
    z-index: -1;
  }
  .cursors.blink-off .cursor {
    visibility: hidden !important;
    z-index: -1;
  }
}

.cursors {
  z-index: -1 !important;
}

.editor .wrap-guide {
  background: none;
}

atom-text-editor .indent-guide {
  opacity: 0.5;
}

//Add padding at top - useful when tabs are hidden
atom-workspace atom-workspace-axis.vertical {
  // padding-top: 10px;
  // background-color: #2e2e2e;
}

.syntax--text .syntax--source {
  background-color: inherit;
}

.platformio-ide-terminal .xterm {
  background-color: #2e2e2e;
  color: ;

  ::selection {
    background-color: ;
  }

  .terminal-cursor {
    background-color: ;
  }
}

// Remove pointer events from tabs
// li.texteditor.tab.sortable {
//   pointer-events: none;
// }
